notifications:
  email: false

language: node_js

node_js:
  - '0.10'

env:
  matrix:
    - _BROWSER: "chrome"
      _PLATFORM: "Windows_8"
      _VERSION: "34"
    - _BROWSER: "firefox"
      _PLATFORM: "Windows_8"
      _VERSION: "29"
    - _BROWSER: "Safari"
      _PLATFORMVERSION: "7.1"
      _APPIUMVERSION: "1.0"
      _PLATFORMNAME: "iOS"
      _DEVICENAME: "iPhone_Simulator"
      _MOBILETYPE: "web"
